table{
    margin: 20px 0;
}

th {
    white-space: nowrap;
    background-color: #1a365d;
    color: #ffffff;
    vertical-align: central;
    padding: 0px 10px;
}

td {
    vertical-align: central;
    padding: 20px 10px;
}

/* Set properties for every even row */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Set properties for every odd row */
tr:nth-child(odd) {
    background-color: #ffffff;
}

ul {
    list-style-type: none; /* Removes bullets */
}
